<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.screenname %></h1>
      <a href="/create-message">Post a new message</a>
      <a href="/log-out">LOG OUT</a>
    <% } %>
    <% if (!locals.messages||messages.length==0) {%>
      <p>NO Messages FOUND</p>
    <% } else { %>
      <% for (var i = 0; i < messages.length; i++) { %>
          <div class='messagebox'>
            <p><%= messages[i].title %></p>
            <p><%= messages[i].message %></p>
            <p><%= messages[i].dateadded%></p>
            <p>Author: <%= messages[i].author.screenname%></p>
          </div>
      <% } %>
    <% } %>
    <a href="/sign-up">sign up</a>
    <a href="/log-in">log in</a>

  </body>
</html>
